.node {
  border: solid 1px #000000;
  display: inline-block;
  margin: 5px;
  padding: 2px;
  width: 120px;
}

.orgChart {
  margin: 2px;
  border: solid 1px #CCC;
}

.orgChartRow {
  margin: 2px;
  border: solid 1px #AAA;
}

.childGroup {
  border: solid lightblue;
  margin: 2px;
}

.nodeCell {
  text-align: center;
}

.nodeGroupCell {
  vertical-align: top;
}
